{% extends 'base.html.twig' %}

{% block title %}Contacto - One day yes{% endblock %}
{% block stylesheets %}
<style media="screen">
  div.contenido>center>div{
    border-style: solid;
    border-radius: 10px;
  }
  .form-contacto {
    background: #eceeee;
    border: 1px solid #8cc63f;
    border-radius: 6px;
    height: auto;
    margin: 20px auto 0;
    width: 505px;
    margin-bottom: 10px;
  }
</style>
{% endblock %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}
<div class="contenido">
<center>
  <div class="col-xs-8 col-sm-8 col-md-8 col-lg-12 form-contacto">
      <img style="height:66px; margin-bottom:50px; margin-top:10px;" src="/images/logo-oneDayYes_simplificado.png" alt="">
      <h1>Contacto</h1><br>
      {{ form_start(form) }}
        {{ form_row(form.nombre) }}
        {{ form_row(form.email) }}
        {{ form_row(form.asunto) }}
        {{ form_row(form.comentario) }}
        <div class="row col-xl-7 col-lg-12 col-12" style="margin-bottom: 10px;">
          {{ form_widget(form.borrar, { 'attr': {'class': 'btn btn-danger btn-resetear'} }) }}
          {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-guardar"'} }) }}
        </div>
      {{ form_end(form) }}
  </div>
</center>
</div>
{% endblock %}
