<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Administrador - One day yes{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo-oneDayYes_icon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{asset('css/styleAdmin.css')}}" rel="stylesheet" type="text/css" media="all"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {# Variable con la ruta actual de la página #}
      {% set routeSelected = app.request.attributes.get('_route') %}

      {% block nav %}
      <!--NAV-->
      <div class="fixed-top navSuperior">
        <div class="login">
          <ul class="">
            {% set locale = app.request.getLocale() %}
            {% if app.user %}
              <li><a class="" href="{{asset('/usuarios/logout')}}">Cerrar sesión</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li><a class="" href="{{asset('/admin')}}">Administrador</a></li>
              {% endif %}
            {% else %}
              <li><a class="" href="{{asset('/usuarios/registro')}}">Registrarse</a></li>
              <li><a class="" href="{{asset('/usuarios/login')}}">Iniciar sesión</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="container-fluid navPrincipal navAdministrador">
          <nav class="navbar navbar-expand-sm navbar-light bg-faded">
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="{{path('index', { '_locale': locale })}}"><img class="logo" src="{{asset('images/logo-oneDayYes.png')}}"></a>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="nav-content">
              <ul class="navbar-nav nav ml-auto">

                <li class="nav-item {% if routeSelected == 'index' %}active{% endif %}">
                  <a class="nav-link" href="{{path('index', { '_locale': locale })}}">One Day Yes</a>
                </li>
                <li class="nav-item {% if routeSelected == 'conocenos' %}active{% endif %}">
                  <a class="nav-link" href="{{path('conocenos', { '_locale': locale })}}">Conocenos</a>
                </li>
                <li class="nav-item {% if routeSelected == 'ven_a_lamu' %}active{% endif %}">
                  <a class="nav-link" href="{{path('ven_a_lamu', { '_locale': locale })}}">Ven a Lamu</a>
                </li>
                <li class="nav-item {% if routeSelected == 'contacto' %}active{% endif %}">
                  <a class="nav-link" href="{{path('contacto', { '_locale': locale })}}">Contacto</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      {% endblock %}

      <!-- CONTENIDO -->
      <div class="contenidoAdministrador">
        <div class="wrapper">
          <!-- Sidebar Holder -->
          <nav id="sidebar">
            <div class="sidebar-header">
              <h3>Administrador</h3>
            </div>

            <ul class="list-unstyled components">
              <li class="{% if routeSelected == 'admin_usuarios' %}active{% endif %}">
                <a href="{{asset('/admin')}}">Usuarios</a>
              </li>
              <li class="{% if routeSelected == 'admin_reservas' %}active{% endif %}">
                <a href="{{asset('/admin/reservas')}}">Reservas</a>
              </li>
              <li>
                {% if routeSelected == 'admin_actividades' or routeSelected == 'admin_descuentos' %}
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="true">Contenido de la página</a>
                <ul class="collapse list-unstyled show" id="pageSubmenu">
                {% else %}
                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Contenido de la página</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                {% endif %}
                  <li><a href="{{asset('/admin/actividades_turista')}}">Actividades turistas</a></li>
                  <li><a href="{{asset('/admin/actividades_voluntario')}}">Actividades voluntarios</a></li>
                  <li><a href="{{asset('/admin/descuentos')}}">Descuentos</a></li>
                </ul>
              </li>
              <li class="{% if routeSelected == 'admin_estadisticas' %}active{% endif %}">
                <a href="#">Estadísticas</a>
              </li>
              <li class="{% if routeSelected == 'admin_mensajes' %}active{% endif %}">
                <a href="{{path('admin_mensajes')}}">Mensajes de contacto</a>
              </li>
            </ul>
          </nav>
          <div id="content">
            <div class="navbar-header">
              <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
              </button>
            </div>

            <!-- CONTENIDO DE LA SECCIÓN -->
            <div class="contenido_seccion">
              {% block contenidoSeccion %}{% endblock %}
            </div>

          </div>
        </div>
      </div>

      <!-- CONTENIDO EXTRA (dialogs) -->
      {% block contenidoExtra %}{% endblock %}

      {% block footer %}
      <!--FOOTER-->
      <footer>
        <div class="">
          <div class="container">
            <div class="">
              <p>© Copyright 2018, todos los derechos reservados por ONE DAY YES!</p>
            </div>
          </div>
        </div>
      </footer>
      {% endblock %}

      <!-- BOOTSTRAP - jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script>
        $(function() {
          if ($('#bootstrapCssTest').is(':visible')) {
            $("head").prepend('<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">');
          }
        });

        /* SIDEBAR */
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
      </script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
