<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}One day yes{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" type="image/x-icon" href="{{ asset('images/logo-oneDayYes_icon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="{{asset('css/slick.css')}}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{asset('css/style.css')}}" rel="stylesheet" type="text/css" media="all"/>
        <link href="{{asset('css/animate.css')}}" rel="stylesheet" type="text/css" media="all"/>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
      {% block nav %}
      <!--NAV-->
      <div class="fixed-top navSuperior">
        <div class="login">
          <ul class="">
            {% set routeSelected = app.request.attributes.get('_route') %}
            {% set locale = app.request.getLocale() %}
            {% if app.user %}
              <li><a class="" href="{{asset('/usuarios/logout')}}">{% trans %}Cerrar sesión{% endtrans %}</a></li>
              {% if is_granted('ROLE_ADMIN') %}
              <li><a class="" href="{{asset('/admin')}}">{% trans %}Administrador{% endtrans %}</a></li>
              {% endif %}
            {% else %}
              <li><a class="" href="{{path('registro', { '_locale': locale })}}">{% trans %}Registrarse{% endtrans %}</a></li>
              <li><a class="" href="{{path('login', { '_locale': locale })}}">{% trans %}Iniciar sesión{% endtrans %}</a></li>
              <li><a class="" style="color:#5b7b2f;cursor:default;" href="#">|</a></li>
              <li><a class="" href="{{path(routeSelected, { '_locale': 'en' })}}">EN</a></li>
              <li><a class="" href="{{path(routeSelected, { '_locale': 'de' })}}">DE</a></li>
              <li><a class="" href="{{path(routeSelected, { '_locale': 'es' })}}">ES</a></li>
            {% endif %}
          </ul>
        </div>

        <div class="container-fluid navPrincipal">
          <nav class="navbar navbar-expand-sm navbar-light bg-faded">
            <!-- Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Brand -->
            <a class="navbar-brand" href="{{path('index', { '_locale': locale })}}"><img class="logo" src="{{asset('images/logo-oneDayYes.png')}}"></a>

            <!-- Links -->
            <div class="collapse navbar-collapse" id="nav-content">
              <ul class="navbar-nav nav ml-auto">
                <li class="nav-item {% if routeSelected == 'index' %}active{% endif %}">
                  <a class="nav-link" href="{{path('index', { '_locale': locale })}}">One Day Yes</a>
                </li>
                <li class="nav-item {% if routeSelected == 'conocenos' %}active{% endif %}">
                  <a class="nav-link" href="{{path('conocenos', { '_locale': locale })}}">{% trans %}Actividades{% endtrans %}</a>
                </li>
                <li class="nav-item {% if routeSelected == 'galeria' %}active{% endif %}">
                  <a class="nav-link" href="{{path('galeria', { '_locale': locale })}}">{% trans %}Galeria{% endtrans %}</a>
                </li>
                <li class="nav-item {% if routeSelected == 'ven_a_lamu' %}active{% endif %}">
                  <a class="nav-link" href="{{path('ven_a_lamu', { '_locale': locale })}}">{% trans %}Ven a Lamu{% endtrans %}</a>
                </li>
                <li class="nav-item {% if routeSelected == 'contacto' %}active{% endif %}">
                  <a class="nav-link" href="{{path('contacto', { '_locale': locale })}}">{% trans %}Contacto{% endtrans %}</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      {% endblock %}

      {% block body %}{% endblock %}

      {% block footer %}
      <!--FOOTER-->
      <footer style="clear: both;">
        <div class="">
          <div class="container">
            <div class="">
              <p>{% trans %}Derechos{% endtrans %}</p>
            </div>
          </div>
        </div>
      </footer>
      {% endblock %}

      <!-- BOOTSTRAP - jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
      <script src="{{asset('js/slick.min.js')}}" charset="utf-8"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
      <script>
      wow = new WOW(
      {
      boxClass:     'wow',
      animateClass: 'animated',
      offset:       100
      }
      );
      wow.init();
      </script>
      <script>
        $(function() {
          if ($('#bootstrapCssTest').is(':visible')) {
            $("head").prepend('<link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">');
          }
        });
      </script>
      {% block javascripts %}{% endblock %}
    </body>
</html>
