{% extends 'baseAdmin.html.twig' %}

{% block title %}Administrador - Actividades voluntarios{% endblock %}

{% block contenidoSeccion %}
<div class="">
  <div id="filtros" class="panel_filtros">

  </div>
  <div class="opciones_tabla">
    <a href="{{asset('/admin/crearActividadVoluntario')}}" class="btn-add">Añadir actividad </a>
  </div>
  <!--TABLA DE USUARIOS-->
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Título</th>
      <th>Descripción</th>
      <th>Imagen</th>
      <th class="sin_estilo separacion"></th>
      <th class="sin_estilo"></th>
    </tr>
  </thead>
  <tbody>
    {% for actividad in actividades %}
    <tr>
      <th class="idUsuario" scope="row">{{actividad.id}}</th>
      <td>{{actividad.titulo}}</td>
      <td>{{actividad.descripcion}}</td>
      <td>{{actividad.imagen}}</td>
      <td class="sin_estilo separacion">
        <a href="{{asset('admin/modificarActividadVoluntario/id='~actividad.id)}}" class="btn btn-default">Editar
          <img class="editIcon" src="{{asset('images/icons/edit.svg')}}" alt="" height=18>
        </a>
      </td>
      <td class="sin_estilo">
        <a href="#" class="btn btn-default" id="btn-eliminar-{{actividad.id}}">Eliminar
          <img class="eliminateIcon" src="{{asset('images/icons/eliminar.svg')}}" height=15 alt="">
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
</div>
{% endblock %}

{% block contenidoExtra %}
<!-- MODAL (yes/no) -->
<div class="modal fade" id="modal-eliminacion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar actividad</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="texto-dialogo">El actividad se eliminará.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-btn-si">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-btn-no">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    /* MODAL (yes/no) */
    var idSeleccionada;
    var modalConfirm = function(callback){
      let filas = $("tbody").children();
      for(let i=0;i<filas.length;i++){
        let idUsuario = filas.eq(i).children().eq(0).html();
        let nombre = filas.eq(i).children().eq(1).html();

        $("#btn-eliminar-"+idUsuario).on("click", function mostrarDialogo($idUsuario, $nombre){
          $("#texto-dialogo").html("La actividad <strong>"+nombre+"</strong> se eliminará.");
          $("#modal-eliminacion").modal('show');
          idSeleccionada = idUsuario;
        });
      }

      $("#modal-btn-si").on("click", function aceptarEliminacion(){
        callback(true);
        $("#modal-eliminacion").modal('hide');
      });

      $("#modal-btn-no").on("click", function(){
        callback(false);
        $("#modal-eliminacion").modal('hide');
      });

    };

    modalConfirm(function(confirm){
      if(confirm){
        //Acciones si el usuario confirma
        window.location.href = "/admin/eliminarActividadVoluntario/id="+idSeleccionada;
        //asset('/usuarios/eliminarUsuario/id='~usuario.id)
      }else{
        //Acciones si el usuario no confirma
      }
    });
</script>
{% endblock %}
