{% extends 'baseAdmin.html.twig' %}

{% block title %}Administrador - Reservas{% endblock %}
{% block stylesheets %}
  <link href="{{asset('css/jQueryDatePicker.min.css')}}" rel="stylesheet" type="text/css" media="all"/>
{% endblock %}

{% block contenidoSeccion %}
<div class="">
  {#<div id="filtros" class="panel_filtros">
    {{ form_start(form) }}
      <div class="form-row">
        <div class="form-group col-md-6">
          {{ form_label(form.nombre) }}
          {{ form_widget(form.nombre) }}
        </div>
        <div class="form-group col-md-6">
          {{ form_label(form.email) }}
          {{ form_widget(form.email) }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-1">
          {{ form_label(form.fechaInicial) }}
        </div>
        <div class="form-group col-md-5">
          {{ form_widget(form.fechaInicial) }}
        </div>
        <div class="form-group col-md-1 text-center">
          {{ form_label(form.fechaFinal) }}
        </div>
        <div class="form-group col-md-5">
          {{ form_widget(form.fechaFinal) }}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12 text-md-right">
          {{ form_widget(form.borrar) }}
          {{ form_widget(form.guardar) }}
        </div>
      </div>
    {{ form_end(form) }}
  </div>#}
  <div class="opciones_tabla">
  </div>
  <!--TABLA DE USUARIOS-->
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tipo</th>
      <th>Fecha de reserva</th>
      <th>Número de noches</th>
      <th>Tipo de habitación</th>
      <th>Número de habitaciones</th>
      <th>Comida</th>
      <th>Cena</th>
      <th>Número de vuelo</th>
      <th>Hora de llegada</th>
      <th>Barca</th>
      <th>Visita escuela</th>
      <th>Actividades</th>
      <th>Descuento</th>
      <th class="sin_estilo separacion"></th>
      <th class="sin_estilo"></th>
    </tr>
  </thead>
  <tbody>
    {% for reserva in reservas %}
    <tr>
      <th class="idUsuario" scope="row">{{reserva.id}}</th>
      <td>{{reserva.tipo}}</td>
      <td>{{reserva.fechaReserva|date("d/m/Y")}}</td>
      <td>{{reserva.numeroNoches}}</td>
      <td>{{reserva.tipoHabitacion}}</td>
      <td>{{reserva.numeroHabitaciones}}</td>
      <td>{{reserva.comida}}</td>
      <td>{{reserva.cena}}</td>
      <td>{{reserva.numeroVuelo}}</td>
      <td>{{reserva.horaLlegada|date('H:i')}}</td>
      <td>{{reserva.barca}}</td>
      <td>{{reserva.visitaEscuela}}</td>
      <td>{{reserva.actividades}}</td>
      <td>{{reserva.descuento}}</td>
      <td class="sin_estilo separacion">
        <a class="btn btn-default" id="btn-eliminar-{{reserva.id}}">Eliminar
          <img class="eliminateIcon" src="{{asset('images/icons/eliminar.svg')}}" height=15 alt="">
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

  {# PAGINACIÓN #}
  {% if maxPages > 1 %}
  <ul class="pagination">
      {% if thisPage > 1 %}
          <li class="page-item">
              <a class="page-link" href="{{ path('admin_usuarios', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previo</span>
              </a>
          </li>
      {% endif %}

      {# Render each page number #}
      {% for i in 1..maxPages %}
          <li class="page-item {% if thisPage == i %}active{% endif %}">
              <a class="page-link" href="{{ path('admin_usuarios', {page: i}) }}">{{ i }}</a>
          </li>
      {% endfor %}

      {# `»` arrow #}
      {% if thisPage < maxPages %}
          <li class="page-item">
              <a class="page-link" href="{{ path('admin_usuarios', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Siguiente</span>
              </a>
          </li>
      {% endif %}
  </ul>
  {% endif %}
</div>
{% endblock %}

{% block contenidoExtra %}
<!-- MODAL (yes/no) -->
<div class="modal fade" id="modal-eliminacion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar reserva</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="texto-dialogo">La reserva se eliminará.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-btn-si">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-btn-no">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{# JAVASCRIPTS #}
{% block javascripts %}
<script src="{{asset('js/jQueryDatePicker.min.js')}}"></script>
<script type="text/javascript">
    /* MODAL (yes/no) */
    var idSeleccionada;
    var modalConfirm = function(callback){
      let filas = $("tbody").children();
      for(let i=0;i<filas.length;i++){
        let idReserva = filas.eq(i).children().eq(0).html();

        $("#btn-eliminar-"+idReserva).on("click", function mostrarDialogo($idReserva){
          $("#texto-dialogo").html("La reserva <strong>"+idReserva+"</strong> se eliminará.");
          $("#modal-eliminacion").modal('show');
          idSeleccionada = idReserva;
        });
      }

      $("#modal-btn-si").on("click", function aceptarEliminacion(){
        callback(true);
        $("#modal-eliminacion").modal('hide');
      });

      $("#modal-btn-no").on("click", function(){
        callback(false);
        $("#modal-eliminacion").modal('hide');
      });

    };

    modalConfirm(function(confirm){
      if(confirm){
        //Acciones si el usuario confirma
        window.location.href = "/admin/eliminarReserva/id="+idSeleccionada;
      }else{
        //Acciones si el usuario no confirma
      }
    });

    /* DATE_PICKER*/
    $( function() {
      $( ".js-datepicker" ).datepicker();
    } );
</script>
{% endblock %}
