{% extends 'baseAdmin.html.twig' %}

{% block title %}Administrador - Usuarios{% endblock %}

{% block contenidoSeccion %}
<div class="">
  <div id="filtros" class="panel_filtros">

  </div>
  <div class="opciones_tabla">
    <a href="{{asset('/admin/crearUsuario')}}" class="btn-add add-user">Añadir usuario </a>
  </div>
  <!--TABLA DE USUARIOS-->
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Usuario</th>
      <th>Nombre</th>
      <th>Email</th>
      <th>Fecha de creación</th>
      <th>Rol de usuario</th>
      <th class="sin_estilo separacion"></th>
      <th class="sin_estilo"></th>
    </tr>
  </thead>
  <tbody>
    {% for usuario in usuarios %}
    <tr>
      <th class="idUsuario" scope="row">{{usuario.id}}</th>
      <td>{{usuario.username}}</td>
      <td>{{usuario.name}}</td>
      <td>{{usuario.email}}</td>
      <td>{{usuario.fechaCreacion|date("d/m/Y")}}</td>
      <td>{% for role in usuario.roles %}{{role}} {% endfor %}</td>
      <td class="sin_estilo separacion">
        <a href="{{asset('/admin/modificarUsuario/id='~usuario.id)}}" class="btn btn-default">Editar
          <img class="editIcon" src="{{asset('images/icons/edit.svg')}}" alt="" height=18>
        </a>
      </td>
      <td class="sin_estilo">
        <a class="btn btn-default" id="btn-eliminar-{{usuario.id}}">Eliminar
          <img class="eliminateIcon" src="{{asset('images/icons/eliminar.svg')}}" height=15 alt="">
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  {% if maxPages > 1 %}
    <ul>
        {%if thisPage > 1 %}
            <li >
                <a href="{{ path('admin_usuarios', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
            </li>
        {% endif %}

        {# Render each page number #}
        {% for i in 1..maxPages %}
            <li>
                <a href="{{ path('admin_usuarios', {page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        {%if thisPage < maxPages %}
            <li>
                <a href="{{ path('admin_usuarios', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
</div>
{% endblock %}

{% block contenidoExtra %}
<!-- MODAL (yes/no) -->
<div class="modal fade" id="modal-eliminacion">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p id="texto-dialogo">El usuario se eliminará.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modal-btn-si">Eliminar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="modal-btn-no">Cancelar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
    /* MODAL (yes/no) */
    var idSeleccionada;
    var modalConfirm = function(callback){
      let filas = $("tbody").children();
      for(let i=0;i<filas.length;i++){
        let idUsuario = filas.eq(i).children().eq(0).html();
        let nombre = filas.eq(i).children().eq(1).html();

        $("#btn-eliminar-"+idUsuario).on("click", function mostrarDialogo($idUsuario, $nombre){
          $("#texto-dialogo").html("El usuario <strong>"+nombre+"</strong> se eliminará.");
          $("#modal-eliminacion").modal('show');
          idSeleccionada = idUsuario;
        });
      }

      $("#modal-btn-si").on("click", function aceptarEliminacion(){
        callback(true);
        $("#modal-eliminacion").modal('hide');
      });

      $("#modal-btn-no").on("click", function(){
        callback(false);
        $("#modal-eliminacion").modal('hide');
      });

    };

    modalConfirm(function(confirm){
      if(confirm){
        //Acciones si el usuario confirma
        window.location.href = "/usuarios/eliminarUsuario/id="+idSeleccionada;
      }else{
        //Acciones si el usuario no confirma
      }
    });
</script>
{% endblock %}
