{% extends 'baseAdminSimple.html.twig' %}

{% block title %}Crear actividad - One day yes{% endblock %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block body %}
<div class="col-xs-12 col-sm-11 col-md-10 col-lg-10 form-contacto">
  <h2>Crear nueva actividad para turistas</h2>
  {{ form_start(form) }}
      {{ form_row(form.titulo) }}
      {{ form_row(form.descripcion) }}
      {{ form_row(form.imagen) }}
      {{ form_row(form.precio) }}
      {{ form_row(form.guardar) }}
      {{ form_row(form.borrar) }}
  {{ form_end(form) }}
</div>
{% endblock %}
