{% extends 'base.html.twig' %}

{% block title %}Registro - One day yes{% endblock %}

{% block body %}
<div class="contenido">
  <h2>Crear usuario</h2>
  {{ form_start(form) }}
      {{ form_row(form.username) }}
      {{ form_row(form.name) }}
      {{ form_row(form.plainPassword.first) }}
      {{ form_row(form.plainPassword.second) }}
      {{ form_row(form.email) }}
      <div class="form-group">
        {{ form_row(form.roles) }}
      </div>
      {{ form_row(form.guardar) }}
      {{ form_row(form.borrar) }}
  {{ form_end(form) }}
</div>
{% endblock %}
