{% extends 'base.html.twig' %}

{% block title %}Registro - One day yes{% endblock %}

{% block body %}
<div class="contenido">
  <h1>Crear cuenta de usuario</h1>
  {{ form_start(form) }}
      {{ form_row(form.username) }}
      {{ form_row(form.name) }}
      {{ form_row(form.plainPassword.first) }}
      {{ form_row(form.plainPassword.second) }}
      {{ form_row(form.email) }}
      {{ form_row(form.guardar) }}
      {{ form_row(form.borrar) }}
  {{ form_end(form, {'render_rest': false}) }}
</div>
{% endblock %}
