{% extends 'base.html.twig' %}

{% block title %}Reserva - One day yes{% endblock %}

{% block stylesheets %}
<link href="{{asset('css/reserva.css')}}" rel="stylesheet" type="text/css" media="all"/>
<link href="{{asset('css/jQueryDatePicker.min.css')}}" rel="stylesheet" type="text/css" media="all"/>

<style media="screen">
  .form-contacto {
    float: left;
    background: #eceeee;
    border: 1px solid #8cc63f;
    border-radius: 6px;
    height: auto;
    width: 500px;
    margin-left: 5%;
    margin-bottom: 10px;
  }
</style>
{% endblock %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
{% block body %}


<div class="contenido">
  <div class="seleccionViaje">
    <a href="#" id="mostrarTurista" class="button active">{% trans %}Turista{% endtrans %}</a>
    <a href="#" id="mostrarVoluntario" class="button">{% trans %}Voluntario{% endtrans %}</a>
  </div>
  <p><span style="color:#5b7b2f;font-weight:bold;padding-left:1%;">1.</span>{% trans %}Selecciona las actividades que deseas realizar.{% endtrans %}</p>

  <div class="row wow fadeIn" data-wow-duration="1.5s" id="turista">
        <div class="col-md-12 heroSlider-fixed">
          <div class="overlay">
        </div>
           <!-- Slider -->
          <div class="slider responsive">
            <div class="safari seleccion">
              <div class="textoinside">
                Safari
              </div>
  						<img src="/images/activities/safari.jpg" alt="" />
  					</div>
            <div class="buceo seleccion">
              <div class="textoinside">
                {% trans %}Buceo{% endtrans %}
              </div>
  						<img src="/images/activities/buceo.jpg" alt="" />
            </div>
            <div class="escalada seleccion">
              <div class="textoinside">
                {% trans %}Escalada{% endtrans %}
              </div>
  						<img src="/images/activities/escalada.jpg" alt="" />
            </div>
            <div class="cascada seleccion">
              <div class="textoinside">
                {% trans %}Visita{% endtrans %}
              </div>
              <div class="textoinside2">
                {% trans %}Cascada{% endtrans %}
              </div>
  						<img src="/images/activities/cascada.jpg" alt="" />
            </div>
            <div class="museo seleccion">
              <div class="textoinside">
                {% trans %}Visita{% endtrans %}
              </div>
              <div class="textoinside3">
                {% trans %}Museo{% endtrans %}
              </div>
  						<img src="/images/activities/museo.jpg" alt="" />
            </div>
            <div class="rafting seleccion">
              <div class="textoinside">
                Rafting
              </div>
  						<img src="/images/activities/rafting.jpg" alt="" />
            </div>
            <div class="golf seleccion">
              <div class="textoinside">
                Golf
              </div>
  						<img src="/images/activities/golf.jpg" alt="" />
            </div>
            <div class="barca seleccion">
              <div class="textoinside">
                {% trans %}Vuelta{% endtrans %}
              </div>
              <div class="textoinside4">
                {% trans %}Barca{% endtrans %}
              </div>
  						<img src="/images/activities/barca.jpg" alt="" />
            </div>
          </div>
          <hr class="shine">

        </div>
    </div>

    <div class="row wow fadeIn dontshow" data-wow-duration="1.5s" id="voluntario">
          <div class="col-md-12 heroSlider-fixed">
            <div class="overlay">
          </div>
             <!-- Slider -->
            <div class="slider responsive1">
              <div class="basura seleccion">
                <div class="textoinside">
                  {% trans %}Recoger{% endtrans %}
                </div>
                <div class="textoinside4">
                  {% trans %}Basura{% endtrans %}
                </div>
                <img src="/images/voluntario/basura.jpg" alt="" />
              </div>
              <div class="campo seleccion">
                <div class="textoinside">
                  {% trans %}Sembrar{% endtrans %}
                </div>
                <img src="/images/voluntario/campo.jpg" alt="" />
              </div>
              <div class="colegio seleccion">
                <div class="textoinside">
                  {% trans %}Dar{% endtrans %}
                </div>
                <div class="textoinside2">
                  {% trans %}Clases{% endtrans %}
                </div>
                <img src="/images/voluntario/colegio.jpg" alt="" />
                </div>
              <div class="ganado seleccion">
                <div class="textoinside">
                  {% trans %}Cuidar{% endtrans %}
                </div>
                <div class="textoinside3">
                  {% trans %}Ganado{% endtrans %}
                </div>
                <img src="/images/voluntario/ganado.jpg" alt="" />
              </div>
              <div class="nadar seleccion">
                <div class="textoinside">
                  {% trans %}Enseñar{% endtrans %}
                </div>
                <div class="textoinside5">
                  {% trans %}Nadar{% endtrans %}
                </div>
                <img src="/images/voluntario/nadar.jpg" alt="" />
              </div>
              <div class="cocina seleccion">
                <div class="textoinside">
                  {% trans %}Cocinar{% endtrans %}
                </div>
                <img src="/images/voluntario/cocina.jpg" alt="" />
              </div>
              <div class="guia seleccion">
                <div class="textoinside">
                  {% trans %}Guia{% endtrans %}
                </div>
                <img src="/images/voluntario/guia.jpg" alt="" />
              </div>
              <div class="construccion seleccion">
                <div class="textoinside">
                  {% trans %}Construir{% endtrans %}
                </div>
                <img src="/images/voluntario/construccion.jpg" alt="" />
              </div>
            </div>
            <hr class="shine">

          </div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-12  col-lg-12 form-contacto" style="margin-left:30%;">
      {{ form_start(form) }}
        {{ form_row(form.tipo) }}
        {{ form_row(form.fechaReserva) }}
        {{ form_row(form.numeroNoches) }}
        {{ form_row(form.numeroHabitaciones) }}
        {{ form_row(form.comida) }}
        {{ form_row(form.cena) }}
        {{ form_row(form.numeroVuelo) }}
        {{ form_row(form.horaLlegada) }}
        {{ form_row(form.barca) }}
        {{ form_row(form.visitaEscuela) }}
        {{ form_row(form.actividades) }}
        <div style="margin-bottom: 10px;">
          {{ form_widget(form.borrar, { 'attr': {'class': 'btn btn-danger btn-resetear'} }) }}
          {{ form_widget(form.guardar, { 'attr': {'class': 'btn btn-primary btn-guardar"'} }) }}
        </div>
      {{ form_end(form) }}
      </div>
  </div>
    </div>

{% endblock %}

{% block javascripts %}
<script src="{{asset('js/main.js')}}" charset="utf-8"></script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="{{asset('js/jQueryDatePicker.min.js')}}"></script>

  <script type="text/javascript">
  /* DATE_PICKER (en español) */
  $.datepicker.regional['es'] = {
  closeText: 'Cerrar',
  prevText: '< Ant',
  nextText: 'Sig >',
  currentText: 'Hoy',
  monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
  monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
  dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
  dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
  weekHeader: 'Sm',
  dateFormat: 'dd/mm/yy',
  firstDay: 1,
  isRTL: false,
  showMonthAfterYear: false,
  yearSuffix: ''
  };
  $.datepicker.setDefaults($.datepicker.regional['es']);
  $( function() {
    $( ".js-datepicker" ).datepicker({minDate:0});
  } );
  </script>
{% endblock %}
